:root {
	--primary-btn-color: black;
	--primary-btn-color2: black;
	--primary-btn-text-color: white;

	--primary-background-color: #171717;
	--secondary-background-color: #1e1e1e;

	--primary-text-color: white;
	--profile-bg-color: #1e1e1e;
	--secondary-card-color: #3d3d3d;
	--description-color: rgba(255, 255, 255, 0.7);
	--secondary-text-color: rgba(255, 255, 255, 0.45);

	--primary-border-color: #3d3d3d;

	--secondary-btn-color: rgba(255, 255, 255, 0.8);
	--secondary-btn-text-color: black;

	--new-search-btn-color: rgba(255, 255, 255, 0.8);
	--new-search-btn-text-color: black;
	--primary-border: 0px solid #fff;
	--country-code-border: 1px solid #e1e1e1;

	--use-template-btn-color: white;
	--use-template-btn-text-color: black;

	--user-chat-bg-color: #282828;
	/* --user-chat-border-color: #282828; */
	--user-chat-border-color: #565656;
	--assistant-chat-bg-color: linear-gradient(0deg,
			rgba(13, 13, 13, 0.95) 0%,
			rgba(13, 13, 13, 0.95) 100%),
		#fff;
	--user-chat-txt-color: white;
	--assistant-chat-txt-color: white;

	--text-input-bg-color: #1e1e1e;
	--text-input-border-color: #605f5f;
	--text-input-placeholder: #929292;

	--tabs-bottom-border-color: rgba(221, 221, 221, 1);
	--tabs-label-color: rgba(221, 221, 221, 0.54);
	--chat-action-color: #cccccc;
}